
Text{
    -fx-padding: 5px;
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
}

Slider{
    -fx-font-family: "Times New Roman";
}

ColorPicker{
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
}
Button {
    -fx-padding: 5px;
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
}


.shape-button {

}

#modeButton {

}

#undoButton {

}
